html {

    interpolate-size: allow-keywords;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    scroll-behavior: smooth;
    /*Adds a smooth scroll effect*/
}

:root {


    
    --header-padding: 20px;
    --primary-ff: "Open Sans", sans-serif;
    --article-width: 120ch;

    /* --surface:  */
 
    --primary-bg-color: oklch(80.21% 0.02635 17.525);
    --primary-body-color:oklch(98% 0.005 18); 

    --brand-color: oklch(98% 0.005 18); 

    /* --brand-accent: oklch(60% 0.12 160); 
    --brand-primary: oklch(55% 0.10 18.335); 
    --brand-500: oklch(78.8% 0.0564 18.335);
    --primary: oklch(55% 0.16 260); */
    /* Light tints
    --brand-50:  oklch(97% 0.010 18.335);
    --brand-100: oklch(94% 0.018 18.335);
    --brand-200: oklch(90% 0.030 18.335);
    --brand-300: oklch(85% 0.045 18.335);

    /* Base / UI strength */
        /* --brand-500: oklch(78.8% 0.0564 18.335);

    /* Darker / UI depth */
        /* --brand-600: oklch(68% 0.070 18.335);
    --brand-700: oklch(58% 0.085 18.335);
    --brand-800: oklch(48% 0.080 18.335);
    --brand-900: oklch(38% 0.070 18.335); */
    
    
    --brand-color-light: color-mix(in oklch, var(--brand-color) 80%,rgb(255, 255, 255));
    --brand-color-lighter: color-mix(in oklch, var(--brand-color) 60%,rgb(255, 255, 255));

    --brand-color-dark: color-mix(in oklch, var(--brand-color) 80%,rgb(0, 0, 0));
    --brand-color-darker: color-mix(in oklch, var(--brand-color) 60%,rgb(0, 0, 0));

    --homepage-color-background: rgb(190, 253, 255);
    --module-color-background: rgb(255, 255, 255);
    --color-pink: hsl(330, 100%, 80%);
    --color-border-default: rgb(145, 2, 2);
    --sidebar-background-color: rgb(224, 110, 110);

    --hover-bg: hsl(0, 100%, 50%);



    --media-query-screen-width: 600px;
    --border-radius-default: 8px;
    
    --min-col-size: 200px;

    --min-col-size-editor: 300px;

    /* background: rgba(220, 172, 172, 0.01);
    background: radial-gradient(circle,rgba(220, 172, 172, 1) 0%, rgba(148, 148, 148, 1) 100%); */


    /* --fs-body: 1rem; EXAMPLE OF PRACTICAL TYPOGRAPHY SCALE

    --fs-h3: clamp(1.25rem, 1rem + 1vw, 1.75rem);
    --fs-h2: clamp(1.75rem, 1.25rem + 2vw, 2.75rem);
    --fs-h1: clamp(2.5rem, 1.5rem + 4vw, 5rem); */


}

* {
    font: inherit;
    margin: 0;
    box-sizing: border-box;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: var(--primary-ff);
    margin: 0;
    padding: 0;
    
    background-color: var(--primary-bg-color);
    /* background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */

}
h1,
h2 {
    font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

li {
    overflow-wrap: break-word;
    word-break: break-word;
}

/* ======================================== */
/* === UTILITY ================== */
/* ======================================== */

.text-4x1 {
    font-size: 2.25rem;
}

.text-3x1 {
    font-size: 1.875rem;
}

.text-2x1 {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-xs {
    font-size: 0.75rem;
}

.flow > *  {
    margin-block-start: 1rem;
}





/* ======================================== */
/* === MAIN CONTENT ================== */
/* ======================================== */


.page-style{
    max-width: 125ch;
    margin-inline: auto;
}

.page-flex {
    
    padding: 2rem;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
}

.page-grid{
    
    padding: 1rem;
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    gap: 1rem;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2rem;
}



/* ======================================== */
/* === NAVIGATION BAR ================== */
/* ======================================== */

.site-header {
    width: 100%;
    background-color: #333;


    position: sticky;
    top: 0;
    z-index: 9999;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;

}

.site-nav__logo {
    justify-content: center;
    height: 40px;
    align-items: center;
    transition: transform 0.5s ease;

    img {
        height: 100%;
    }

    &:hover {
        transform: scale(1.2);
    }
}


.site-nav__button {

    background-color: blueviolet;
    border: none;
    color: white;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: auto;

    border-radius: var(--border-radius-default);

    @media screen and (max-width: 600px) {

        span {
            display: none;
        }
    }
}

.site-nav__list {

    display: flex;
    gap: 1.5rem;

    padding: 0;
    margin: 0;


    a {

        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        padding: 1rem;
        transition: color 0.3s;

    }

    a:hover {
        color: #ccc;
        text-decoration: underline;
        transform: scale(1.05);
        transform-origin: center;
    }

    @media screen and (max-width: 600px) {
        display: block;
    }

}





/* ======================================== */
/* === RECIPE MAINPAGE INDEX THINGY ================== */
/* ======================================== */

.recipe__browser {

    max-width: 85rem;
    margin-inline: auto;
    background-color: var(--brand-color-lighter);
    padding-inline: 10px;

    /* container-name: recipe_collection;
    container-type: inline-size; */

    container: recipe_collection / inline-size;

}

.recipe__browser__title {
    margin-block: 1rem;
    text-align: center;
}

.banner {

    max-width: 85rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    background-color: var(--brand-color-lighter);
    /* background-color: color-mix(in srgb, rgb(202, 202, 202) 70%, #00adcc); */

    > :nth-child(2){

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        
        gap: 2rem;
        padding: 20px;


    }

    img {
        height: auto;
        max-width: 100%;
        object-position: center;
        display: block;
        
        border-radius: 0 0 1rem 1rem;
        
    }
        

    @container recipe_collection (width < 62rem){
        grid-template-columns: 1fr;


        color: red;
    }
}


.banner__intro {
    align-self: center;
    padding-inline-start: 1rem;
}



.editor__recipe__browser{

    container: editor_collection / inline-size;
    
}

.editor__recipe__cards {
    display: grid;
    gap: 1rem;


    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size-editor), 45ch), 1fr));
    grid-auto-rows: auto auto 1fr auto;

    .editor__recipe__card {

        display: grid;
        grid-row: span 4;
        grid-template-rows: subgrid;

        img {
            grid-row: 1;
            border-radius: var(--border-radius-default);

            &:hover {
                color: green;
                border: 5px solid red;

            }
        }

        h2 {
            grid-row: 2;
        }

        p {
            grid-row: 3;
        }

        span {
            grid-row: 4;
        }

        
    }

    @container editor_collection (width < 62rem){
        
        grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 45ch), 1fr));

        color: green;
    }

}

.recipes__card {

    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;

    padding-block-end: 30px;
    padding-inline: 10px;
}

.cards {

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 35ch), 1fr));
    grid-auto-rows: auto auto 1fr auto;

}



.recipes__collection {

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
    margin-block: 2rem;


}

.recipes__collection__card {

    display: grid;
    place-self: center;



    grid-template-areas:
        "image"
        "text"
        "btn";


    img,
    .recipe__card__read__more {
        grid-area: image;
    }

    .recipe__card__read__more {
        opacity: 0;
        transition: opacity 0.2s ease;
        
        display: grid;
        background-color: oklch(from var(--brand-color-darker) l c h / 0.5);

        button {
            font-weight: 700;
            place-self: center;
            background: var(--brand-color-light);
            border: none;

            

            border-radius: 8px;
            padding: 1rem;

            &:hover{
                background: var(--brand-color-darker);
                /* background: color-mix(in hsl,#00adcc, black 10%); */
                
            }

        }

        &:hover {
            opacity: 1;
            
        }

        a {
            color: black;
            text-decoration: none;
            
            &:hover {

                color: wheat;
                text-decoration: underline;
            }
        }
    }
}

.recipes__collection__card img {
    grid-area: image;
}

/* ======================================== */
/* === RECIPE STUFF ================== */
/* ======================================== */

.recipe__card {
    /* max-width: var(--article-width); */
    width: min(var(--article-width), 100%);
    margin-inline: auto;
    padding-block-end: 10px;
    background-color: var(--primary-body-color);
}

.recipe__card:has(img) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe__intro {

    margin: 2rem;

    .recipe__title {
        font-weight: bolder;
        font-size: 2.5rem;
        padding: var(--header-padding);
        color: rgb(177, 0, 0);
    }

    p {
        padding: 0 40px;
    }
}

section:has(h2) {


    margin: 2rem;

    h2 {
        font-size: 2rem;
        padding: var(--header-padding);
    }

    p {
        padding-inline-start: 40px;
    }
}

/*Just here to practice purpose, real class should be recipe__list--bullets*/
ul[class="with-bullets"] {
    list-style-type: disc;
    list-style-position: outside;
}

section:has(ul, ol) li {

    margin: 20px;
}

.recipe__list--decimal {
    list-style-type: decimal;
}

.recipe__figure {

    max-width: 100%;
    height: 400px;
}

.recipe__examples {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.recipe__image-card {
    position: relative;
    margin: 10px;

    img {
        border-radius: var(--border-radius-default);
    }
}

.recipe__image-card figcaption {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    width: 100%;
}

.recipe__ingredienser,
.recipe__serving-tips {
    scroll-margin-top: 40px;
}


@media screen and (max-width: 600px) {
    body {
        color: #ff0000;
    }

}

