html{
    
    interpolate-size: allow-keywords;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

:root{
    --primary-bg-color: #ffffff;
    --header-padding: 20px;
}

*{
    font: inherit;
    margin: 0;
    /* margin-block-end: 0; Does the same thing as margin 0 i guess?*/ 
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font: inherit;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: rgba(220, 172, 172, 1);
}

h1,h2{
    font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/***************************************/

.recipe-card{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-bg-color);
}

.recipe__header {

    .recipe__title {
        font-weight: bolder;
        font-size: 2.5rem;
        padding: var(--header-padding);
        color: rgb(177, 0, 0);
        padding: 20px;
        /*text-shadow: 3px 3px 1px black;*/
    }
}

section:has(h2){

}

h2{
    font-size: 2rem;
    padding: var(--header-padding);
    /*text-shadow: 3px 3px 1px black;*/
}

p{
    padding: 0 30px;
}

li{
    margin: 20px;
}

#morepadding{
    padding: 0 40px;
}

ul.with-bullets{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.5rem;
    
}

ol.ingredients{
    list-style-type: disc;
    margin-left: 10px;
    text-indent: -2em;
}
ol.process{
    list-style-type: decimal;
    margin-left: 10px;
    
}

.image-container {
    width: auto;
    height: 400px;
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image2{
    width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));  
  padding: 10px;
}

.image-card {
    margin: 0 10px;
}



/* .row{
    display: flex;
    padding: 0 20px;
}

.column{
    flex: 33%;
    box-sizing: border-box;
    padding: 5px;

} */

 @media screen and (max-width: 600px) {
     body {
        color: #ff0000;
     }

     .container {
         display: grid;
         grid-template-columns: 1fr;
         padding: 10px;
         gap: 15px;
     }
 }
 

/* FLOAT VARIANT */
/* .column
{
    float: left;
    width: 50%; 
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    
}
.row::after{
    content: "";
    clear: both;
    display: table;
    padding: 0 20px;
} */




/* .image2{
    
    float: left;
    width: 50%;
    padding: 5px;
    
    /*height: 100%;*/
    /* object-fit: cover;
    display: block;
    margin: auto; center image */
    /*object-fit: none; /* set to fill to uncrop image */
    /*object-position: center;
}
.row::after */