html {

    interpolate-size: allow-keywords;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    scroll-behavior: smooth;
    /*Adds a smooth scroll effect*/
}

:root {
    --primary-bg-color: #ffffff;
    --header-padding: 20px;
    --primary-ff: "Open Sans", sans-serif;
    --article-width: 120ch;

    --article-color-background: radial-gradient(circle,rgba(220, 172, 172, 1) 0%, rgba(148, 148, 148, 1) 100%);;
    --homepage-color-background: rgb(190, 253, 255);
    --module-color-background: rgb(255, 255, 255);
    --color-pink: hsl(330, 100%, 80%);
    --color-border-default: rgb(145, 2, 2);
    --sidebar-background-color: rgb(224, 110, 110);

    --media-query-screen-width: 600px;

    --border-radius-default: 8px;

    --min-col-size: 200px;

    background: rgba(220, 172, 172, 0.01);
    background: radial-gradient(circle,rgba(220, 172, 172, 1) 0%, rgba(148, 148, 148, 1) 100%);


    /* --fs-body: 1rem; EXAMPLE OF PRACTICAL TYPOGRAPHY SCALE

    --fs-h3: clamp(1.25rem, 1rem + 1vw, 1.75rem);
    --fs-h2: clamp(1.75rem, 1.25rem + 2vw, 2.75rem);
    --fs-h1: clamp(2.5rem, 1.5rem + 4vw, 5rem); */


}

* {
    font: inherit;
    margin: 0;
    box-sizing: border-box;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: var(--primary-ff);
    margin: 0;
    padding: 0;

    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}
h1,
h2 {
    font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

li {
    overflow-wrap: break-word;
    word-break: break-word;
}

/* ======================================== */
/* === UTILITY ================== */
/* ======================================== */

.text-4x1 {
    font-size: 2.25rem;
}

.text-3x1 {
    font-size: 1.875rem;
}

.text-2x1 {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-xs {
    font-size: 0.75rem;
}

.flow > * {
    margin-block-start: 1rem;
}


/* ======================================== */
/* === MAIN CONTENT ================== */
/* ======================================== */


.page-style{
    max-width: 125rem;
    margin-inline: auto;
}

.page-flex {
    
    padding: 2rem;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
}

.page-grid{
    
    padding: 1rem;
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    gap: 1rem;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2rem;
}



/* ======================================== */
/* === NAVIGATION BAR ================== */
/* ======================================== */

.site-header {
    width: 100%;
    background-color: #333;


    position: sticky;
    top: 0;
    z-index: 9999;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;

}

.site-nav__logo {
    justify-content: center;
    height: 40px;
    align-items: center;
    transition: transform 0.5s ease;

    img {
        height: 100%;
    }

    &:hover {
        transform: scale(1.2);
    }
}


.site-nav__button {

    background-color: blueviolet;
    border: none;
    color: white;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: auto;

    border-radius: var(--border-radius-default);

    @media screen and (max-width: 600px) {

        span {
            display: none;
        }
    }
}

.site-nav__list {

    display: flex;
    gap: 1.5rem;

    padding: 0;
    margin: 0;


    a {

        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        padding: 1rem;
        transition: color 0.3s;

    }

    a:hover {
        color: #ccc;
        text-decoration: underline;
        transform: scale(1.05);
        transform-origin: center;
    }

    @media screen and (max-width: 600px) {
        display: block;
    }

}


/* ======================================== */
/* === HOMEPAGE ARTICLES ================== */
/* ======================================== */

.featured-article {

    background-color: var(--homepage-color-background);
    /* border: solid 5px var(--article-color, var(--color-border-default)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius-default);



    h2 {
        /* font-size: 2.25rem; */

        font-size: clamp(1.8rem, 3vw + 1rem, 3rem);

    }

    p {
        margin-inline: 20px;
        margin-block: 10px;
    }

    .featured-article__image__container {

        width: 95%;
        height: auto;

    }

}


.first-article {
    --article-color: green;
}

.second-article {
    --article-color: blue;
}

.third-article {
    --article-color: red;
}

.flex-article {
    --article-color: rgb(255, 0, 200);
}

.featured-article__button {

    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    border: #fffb00 solid 5px;

    &:hover {

        background-color: var(--article-color, #ff9191);
        transform: scale(1.05);
        transform-origin: center;
    }
}



.article-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-default);
}



/* ======================================== */
/* === FLEXBOX SECTION ================== */
/* ======================================== */

.article__curriculum {
    border: solid 5px rgb(0, 0, 0);
    display: flex;

    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;

    align-items: center;
    gap: 1.5rem;

    

}



.article__curriculum__module {

    margin-inline: 10px;
    margin-block: 10px;

    flex: 1;

    img {
        width: 50%;
        height: auto;
        margin: auto;

    }

    /* @media screen and (max-width: 600px) {
        flex-direction: column;
    } */
}

/* ======================================== */
/* === SIDEBAR STYLES ================== */
/* ======================================== */

.sidebar {

    text-align: center;
    /* width: max(20%, 170px); */

    /* width: 20%; */
    /* max-width: 225px; */
    border: #333 solid 5px;
    background-color: var(--homepage-color-background);

    border-radius: var(--border-radius-default);
    
    height: fit-content;

    .sidebar-crop {
        width: 100%;
        overflow: hidden;
        height: 7rem;
        width: 124px;
        position: relative;
        margin: 0 auto;
        margin-block: 0.75rem;
        border-radius: var(--border-radius-default);
    }

    .sidebar-image {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -1%) scale(2);
        transform-origin: center;
        background-color: pink;

    }

    p {
        margin-inline: 10px;
    }


    .sidebar__social {
        background-color: var(--homepage-color-background);
        border: none;
        color: rgb(255, 2, 192);
        cursor: pointer;
        width: auto;
        border-radius: var(--border-radius-default);
        padding: 5px;
        margin-block-end: 5px;

        transition: background-color 0.2s;

        &:hover {
            background-color: rgb(0, 86, 107);
        }
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}




/*************************************/


/* ======================================== */
/* === GRID STUFF FOR TESTING ================== */
/* ======================================== */

/* .grid-even-columns{
    display: grid;

    gap: 1rem;
    grid-auto-flow: row;

    /* grid-template-columns: repeat(2, 1fr); */
/* grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%),1fr)); 
}

.featured__article__other-recipes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 /* grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%),1fr)); 
}


/* ======================================== */
/* === RECIPE MAINPAGE INDEX THINGY ================== */
/* ======================================== */


.banner {

    max-width: 85rem;
    margin-inline: auto;
    background-color: var(--primary-bg-color);
    display: grid;
    grid-template-columns: 2fr 1fr;

    overflow: hidden;

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}


.banner__intro {
    align-self: center;
    padding-inline-start: 1rem;
}


.recipe__browser {

    max-width: 85rem;
    margin-inline: auto;

}

.featured-recipe {

    background-color: var(--homepage-color-background);
    text-align: center;

}

.cards {

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 35ch), 1fr));
    grid-auto-rows: auto auto 1fr auto;

}

.recipes__card {

    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;

    padding-block-end: 30px;
    padding-inline: 10px;
}


.recipes__collection {

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
    ;
    margin-block: 1rem;


}

.recipes__collection__card {

    display: grid;
    place-self: center;



    grid-template-areas:
        "image"
        "text"
        "btn";


    img,
    .recipe__card__read__more {
        grid-area: image;
    }

    .recipe__card__read__more {
        opacity: 0;
        transition: opacity 0.2s ease;

        display: grid;
        background-color: #00000062;

        button {
            font-weight: 700;
            place-self: center;
            background: #00adcc;
            border: none;

            border-radius: 8px;
            padding: 1rem;

        }

        &:hover {
            opacity: 1;
        }

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.recipes__collection__card img {
    grid-area: image;
}

/* ======================================== */
/* === RECIPE STUFF ================== */
/* ======================================== */

.recipe__card {
    /* max-width: var(--article-width); */
    width: min(var(--article-width), 100%);
    margin-inline: auto;
    padding-block-end: 10px;
    background-color: var(--primary-bg-color);
}

.recipe__card:has(img) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe__intro {

    margin: 2rem;

    .recipe__title {
        font-weight: bolder;
        font-size: 2.5rem;
        padding: var(--header-padding);
        color: rgb(177, 0, 0);
    }

    p {
        padding: 0 40px;
    }
}

section:has(h2) {


    margin: 2rem;

    h2 {
        font-size: 2rem;
        padding: var(--header-padding);
    }

    p {
        padding-inline-start: 40px;
    }
}

/*Just here to practice purpose, real class should be recipe__list--bullets*/
ul[class="with-bullets"] {
    list-style-type: disc;
    list-style-position: outside;
}

section:has(ul, ol) li {

    margin: 20px;
}

.recipe__list--decimal {
    list-style-type: decimal;
}

.recipe__figure {

    max-width: 100%;
    height: 400px;
}

.recipe__examples {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.recipe__image-card {
    position: relative;
    margin: 10px;

    img {
        border-radius: var(--border-radius-default);
    }
}

.recipe__image-card figcaption {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    width: 100%;
}

.recipe__ingredienser,
.recipe__serving-tips {
    scroll-margin-top: 40px;
}


@media screen and (max-width: 600px) {
    body {
        color: #ff0000;
    }

}