html{
    background-color: rgba(220, 172, 172, 1);
    interpolate-size: allow-keywords;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

:root{
    --primary-bg-color: #ffffff;
    --header-padding: 20px;
    --header-text-color:rgb(177, 0, 0);
}

*{
    font: inherit;
    margin: 0;
    /* margin-block-end: 0; Does the same thing as margin 0 i guess?*/ 
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
}

img{
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font: inherit;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

h1,h2{
    font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/***************************************/
/***** WIDTH AND HEIGHT *****/

.max-w-1200{
    max-width: 1200px;
}

.w-full {
    width: 100%;
}

.w-auto{
    width: auto;
}

.h-full{
    height: 100%;
}

.h-400 {
    height: 400px;
}

/***** TEXT *****/

.font-open-sans{
    font-family: "Open Sans", sans-serif;   
}

.font-bolder {
    font-weight: bolder;
}

.text-4x1 {
    font-size: 2.25rem;
}

.text-3x1 {
    font-size: 1.875rem;
}

.text-header{
    color: var(--header-text-color);
}

/***** LIST STYLES *****/

.li-disc {
    list-style-type: disc;
}
.li-outside{
    list-style-position: outside;
}
.list-decimal{
    list-style-type: decimal;
}

/***** MARGIN AND PADDING *****/
/*** use space for lists and m for individual items (?) ***/

.p-header{
    padding: var(--header-padding);
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.pb-20 {
    padding: 0 0 20px 0;
}
.px-30{
    padding: 0 30px;
}
.px-40{
    padding: 0 40px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.m-20{
    margin: 20px;
}
.space-x-10{
    margin: 0 10px;
}
/*extra examples i guess?*/
.space-sm > li {
    margin: 0.875rem;
}
.space-base > li {
    margin: 1rem;
}
.space-lg > li {
    margin: 1.125rem;
}
.space-xl > li {
    margin: 1.25rem;
}
.space-left-10{
    margin-left: 10px;
}

/***** OBJECT AND LAYOUT *****/

.object-cover{
    object-fit: cover;
}
.grid{
    display: grid;
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr)); 

}
/***** MEDIA *****/
 @media screen and (max-width: 600px) {
     body {
        color: #ff0000;
     }
     .sm-grid-cols-1{
        grid-template-columns: 1fr;
     }
     .sm-p-10{
        padding: 10px
     }
     .sm-gap-15{
        gap: 15px
     }

}
